* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "acumin-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header {
    width: 100%;
    height: 60px;
    background: #2b2b2b;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo  {
    display: block;
    width: 105px;
    height: 60px;
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    margin-left: 25px;
}
.menu {
    display: flex;
    align-items: center;
}
header a {
    color: #a4a4a4;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: bold;
}
header a:hover {
    color: #fff;
}
header a:focus {
    color: #fff;
}
.filter {
    background: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    top: 50px;
    right: 60px;
    border-radius: 5px;
    display: none;
    color: #2b2b2b; 
}
.fa-search:hover .filter {
    display: block;
}
#sain {
    background: #0057ff;
    color: #fff;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 13px;
}
#sain:hover {
    background: #003ecb;
}
#or {
    font-size: 12px;
    color: #a4a4a4;
    font-weight: bolder;
    padding: 0 5px;
}
.social {
    padding: 0 0 0 5px;
}
.social-logo {
    width: 33px;
    height: 33px;
    background: #fff;
    padding: 8px;
    border-radius: 50%;
}
.facebook {
    padding: 0;
    background: transparent;
}
.two {
    margin-right: 25px;
}
.main-banner {
    width: 100%;
    height: 210px;
    position: fixed;
    top: 60px;
    background-image: url(img/cta-header.jpg);
    background-repeat: no-repeat;
    padding: 36px 0;
}
.title {
    background: transparent;
    width: 100%;
    height: 270px;
    top: 60px;
    position: relative;
}
.main-banner h2 {
    width: 710px;
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    margin: 0 auto;
}
.nav-two {
    width: 100%;
    height: 60px;
    z-index: 1;
    position: sticky;
    top: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(25,25,25,.1);
}
.nav-two a {
    text-decoration: none;
    color: #2b2b2b;
    padding: 0 15px;
    font-weight: bolder;
    font-size: 15px;
}
.nav-two a:hover {
    color: #003ecb;
}
.main-grids {
    position: relative;
    top: 0px;
    background: #fff;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.grid-content {
    width: 385px;
    height: 305px;
    margin: 10px;
    position: relative;
}
.grid-content img {
    width: 385px;
    height: 305px;
}
.hoverable {
    position: absolute;
    bottom: 0;
    width: 385px;
    height: 100px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    visibility: hidden;
    background-image: linear-gradient(to top, rgba(43,43,43,1), rgba(43,43,43,0));
}
.grid-content:hover .hoverable{
    visibility: visible;
}
.grid-content-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hoverable a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.hoverable h3 {
    display: block;
    width: 200px;
    font-size: 15px;
    padding: 5px 15px;
}
.hoverable h3:hover {
    text-decoration: underline;
}
.grid-content-user a {
    font-size: 13px;
    font-weight: normal;
    padding: 0 15px;
    margin-bottom: 15px;
}
.fa-thumbs-up:after {
    content: "262";
    padding: 4px 10px 4px 4px;
}
.fa-eye:after {
    content: "2251";
    padding: 4px;
}
.footer {
    width: 100%;
    height: 30px;
    background: #2b2b2b;
    position: fixed;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}